@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cal Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}
